{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Consolas , "Times New Roman";
}

body{

    background-size: cover ;
    background: white url("../Images/craftsmen-3094035_1920.jpg") no-repeat fixed center center;
    color: black;
    margin: 0;
    padding: 0;

}

#TestBox{
    position: absolute;
    width: 300px;
    height: 300px;
    overflow: scroll;
    background-color: lightgoldenrodyellow;
    border: 2px black solid;
    z-index: 60000000;
    left: 100%;
}


/* Removes default colour from hyperlinks  */
a{
    text-decoration: none;
}

/*.container * {*/
/*    border: 1px red solid;*/

/*}*/

#testimonial-manager-Container{

    display: grid;
    max-height: 200vh;
    width: 100vw;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 0.2fr 2fr 1.2fr 0.8fr;
    grid-template-areas:
    ". . . . . ."
    ". area-1 area-1 area-1 area-1 ."
    ". area-2 area-3 area-4 area-5 ."
    ". footer footer footer footer .";
    grid-gap: 1rem;
    text-align: center;

}





.side-menu {

    position: fixed;
    width: 90px;
    height: 100vh;
    overflow: hidden;
    background:rgba(139,119,235,0.8);
    border-radius: 0 30px 30px 0 ;
    transition:2.000ms;
    animation-duration: 2.000ms;
    transition-duration: 2.000ms;
    box-shadow: 0 0 10px rgba(0,0,0 ,1);
    z-index: 1000000;
}

.side-menu:hover {
    min-width: 350px;
    width: 20vw;
}

.side-menu ul {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-family: Consolas;
    font-size: 1.2rem;
    width: 100%;
}

.side-menu ul li {
    position: relative;
    width: 100%;
    list-style: none;
}

.side-menu ul li a {
    position: relative;
    width: 100%;
    display: flex;
    color: whitesmoke;
    text-decoration: none;
}

.side-menu ul li a:hover {
    color: lightgoldenrodyellow;
    font-size: 1.3rem;
    animation-duration: 1.000ms;
    transition-duration: 1.000ms;
}

.adminPanel{
    background-color: rgba(245,245,245,0.500);
    box-shadow: 10px 10px 10px rgba(0,0,0 ,0.300);
    backdrop-filter: blur(9px);
}

#area-1 {
    grid-area: area-1;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.admin-button {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    background: whitesmoke;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
    width: 160px;
    height: 40px;
}

.admin-button:hover {

    background: limegreen;
    cursor: pointer;
}

.admin-button:active {
    background: lightgreen;
    font-size: 1rem;
    transform: scale(0.950);
    transition-duration: 0.100ms;
    box-shadow: 0 3px 15px -2px;
}


#area-1-data {
    width: 90%;
    height: 70%;
    padding: 1rem;
    overflow: scroll;
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width:none;/* Hide scrollbar for Firefox */
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

#area-1-data::-webkit-scrollbar {
    display: none; /* Hide scrollbar for chrome, Opera Safary */
}


#area-1-buttons{
    margin: 1rem;
    display: flex;
    width: 90%;
    height: 10%;
    justify-content: center;
    align-items: center;
}
#area-2 {
    grid-area: area-2;
}

#area-3 {
    grid-area: area-3;
}

#area-4 {
    grid-area: area-4;
}

#area-5 {
    grid-area: area-5;
}

.testimonial-entry-wrapper{
    display: flex;
    width: 100%;
    min-height: 100px;
    border-radius: 10px;
    overflow: scroll;
    margin: 5px 0 5px 0;
}

.testimonial-entry-wrapper *{
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width:none;/* Hide scrollbar for Firefox */
}



.testimonial-entry-wrapper > div {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    max-height: 200px;
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width:none;/* Hide scrollbar for Firefox */
}

.testimonial-entry-wrapper {
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width:none;/* Hide scrollbar for Firefox */
    color: goldenrod;
    font-family: Consolas;
    font-size: 1.2rem;
}

.testimonial-entry-wrapper {
    border: goldenrod 2px solid;
    border-radius: 2rem;
}

/*.testimonial-entry-wrapper > div {*/
/*    border: white 2px solid;*/
/*}*/


.testimonial-entry-wrapper::-webkit-scrollbar {
    display: none; /* Hide scrollbar for chrome, Opera Safary */

}


.testimonial-entry-testimonialId {
    width: 5%;
    min-height: inherit;
    background-color: black;
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width:none;/* Hide scrollbar for Firefox */
}

.testimonial-entry-testimonialId::-webkit-scrollbar {
    display: none; /* Hide scrollbar for chrome, Opera Safary */

}

.testimonial-entry-first-name {
    width: 10%;
    min-height: inherit;
    background-color: #333333;
}

.testimonial-entry-first-name::-webkit-scrollbar {
    display: none; /* Hide scrollbar for chrome, Opera Safary */

}

.testimonial-entry-last-name {
    width: 15%;
    min-height: inherit;
    background-color: #333333;
}

.testimonial-entry-last-name::-webkit-scrollbar {
    display: none; /* Hide scrollbar for chrome, Opera Safary */

}

.testimonial-entry-comment {
    width: 50%;
    min-height: inherit;
    background-color: black;
}

.testimonial-entry-comment::-webkit-scrollbar {
    display: none; /* Hide scrollbar for chrome, Opera Safary */

}

.testimonial-entry-service-name {
    width: 10%;
    min-height: inherit;
    background-color: #333333;
}

.testimonial-entry-service-name::-webkit-scrollbar {
    display: none; /* Hide scrollbar for chrome, Opera Safary */

}

.testimonial-entry-created {
    width: 10%;
    min-height: inherit;
    background-color: black;
}

.testimonial-entry-created::-webkit-scrollbar {
    display: none; /* Hide scrollbar for chrome, Opera Safary */

}


footer {
    background: whitesmoke;
    grid-area: footer;
    box-shadow: 10px 10px 10px rgba(0,0,0 ,0.300);
}


@media only screen and (max-width: 550px) {


    #testimonial-manager-Container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 5fr 2fr 2fr 1fr;
        grid-template-areas:
          "area-1 area-1"
          "area-2 area-3"
          "area-4 area-5"
          "footer footer";

        grid-gap: 0.5rem;
    }

    .side-menu{
        width: 40px;


    }

    .admin-button {
        font-size: 0.7rem;
        height: 20px;
    }
    .testimonial-entry-wrapper{
        flex-direction: column;
    }
    .testimonial-entry-wrapper > div{
        width: 100%;
    }
}

