#testimonials-wrapper{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 35rem;
    width: 100%;
    overflow: scroll;
}

#testimonials-wrapper > div{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8fr  2fr;
}

#testimonials-wrapper *{
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width:none;/* Hide scrollbar for Firefox */
}


#testimonials-wrapper::-webkit-scrollbar {
    display: none; /* Hide scrollbar for chrome, Opera Safary */

}



#contact-us-outer-container-id{
    display: flex;
    flex-direction: column;
    width: 50vw;
}

#contact-us-container-id{
    overflow: scroll;
    width: 100%;

}

#contact-us-search-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#search-form-contact-us-id{
    min-height: 3rem;
    border-radius: 10px;

}


#contact-us-table-id{
    table-layout: fixed;
    text-align: center;
    display: inline-block;
    width: 100%;
}

