/* Base Styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  line-height: 1.5;
  color: var(--color-grey-darkest);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

/********** Navbar **********/

.navbar {
  /* background-color: var(--color-grey-light); */
  height: 6.25rem;
}

.navbar .logo {
  width: 70%;
}

.navbar ul {
  display: flex;
}

.navbar a {
  padding: 0.625em;
  margin: 0 0.3125em;
  font-weight: 700;
  font-size: 1.1em;
  color: var(--color-secondary);
}

.navbar a:hover {
  border-bottom: 2px solid var(--color-primary);
}

.navbar .btn {
  margin-left: 1.25em;
}

.navbar .flex {
  justify-content: space-between;
}

/********** Showcase **********/

.showcase {
  height: 80vh;
  background-color: red;
  /* clip-path: polygon(0 0, 70% 0, 43% 100%, 0% 100%); */
  background-color: #ffffff;
  /* opacity: 0.2;
  background-image: radial-gradient(#3d427d 0.75px, transparent 0.75px),
    radial-gradient(#3d427d 0.75px, #ffffff 0.75px);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px; */
}

.showcase .grid {
  grid-template-columns: 52% 48%;
}

.showcase img {
  width: 100%;
}

/********** Services **********/
.services {
  background-color: var(--color-grey-light);
}
.services .flex {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.services img {
  width: 100%;
}

/********** Update **********/

.updates .grid {
  grid-gap: 0;
}

.updates .img {
  height: 400px;
  background-image: url(../img/updates-img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.update-info ul {
  list-style: disc;
}

.update-info ul,
.update-info .heading-3,
.update-info .btn {
  margin-left: 3.125em;
}

.update-info .btn {
  margin-top: 1.25em;
}
/********** Offers **********/

.offer-info ul {
  list-style: disc;
}

.offers .grid {
  grid-gap: 0;
}

.offers .img {
  height: 400px;
  background-image: url(../img/updates-img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.offer-info ul,
.offer-info .heading-3,
.offer-info .btn {
  margin-left: 3.125em;
}

.offer-info .btn {
  margin-top: 1.25em;
}

/********** Footer **********/
.footer {
  background-color: var(--color-tertiary);
  padding: 1.25em 0;
  color: var(--color-grey-light);
}

.footer .flex {
  flex-direction: row;
  justify-content: space-between;
}

.footer .logo {
  width: 65%;
}

.footer .fab {
  color: var(--color-grey-light);
  font-size: 1.75em;
  margin: 0 0.625em;
}

.footer a,
.footer .fas {
  color: var(--color-grey-light);
}

.footer .fab:hover {
  color: orange;
}
