/* Base Styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  line-height: 1.5;
  color: var(--color-grey-darkest);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

/********** Navbar **********/

.navbar {
  /* background-color: var(--color-grey-light); */
  height: 6.25rem;
}

.navbar .logo {
  width: 70%;
}

.navbar ul {
  display: flex;
}

.navbar a {
  padding: 0.625em;
  margin: 0 0.3125em;
  font-weight: 700;
  font-size: 1.1em;
  color: var(--color-secondary);
}

.navbar a:hover {
  border-bottom: 2px solid var(--color-primary);
}

.navbar .btn {
  margin-left: 1.25em;
}

.navbar .flex {
  justify-content: space-between;
}

/********** Showcase **********/

.showcase {
  height: 80vh;
  background-color: red;
  /* clip-path: polygon(0 0, 70% 0, 43% 100%, 0% 100%); */
  background-color: #ffffff;
  /* opacity: 0.2;
  background-image: radial-gradient(#3d427d 0.75px, transparent 0.75px),
    radial-gradient(#3d427d 0.75px, #ffffff 0.75px);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px; */
}

.showcase .grid {
  grid-template-columns: 52% 48%;
}

.showcase img {
  width: 100%;
}

/********** Services **********/
.services {
  background-color: var(--color-grey-light);
}

.services .flex {
  justify-content: space-between;
  align-items: flex-start;
}
.services .flex div {
  width: 28%;
}

.services img {
  width: 90%;
}

/* .service-image {
} */

.services .heading-3 {
  color: var(--color-tertiary);
}

.service-detail {
  color: var(--color-grey-darkest);
}

/********** Update **********/

.updates .grid {
  grid-gap: 0;
}

.updates .img {
  height: 400px;
  background-image: url(../img/updates-img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.update-img {
  border: 8px solid var(--color-primary);
  transition: 0.5s ease-in-out;
}

.update-img:hover {
  transform: scale(1.05);
}

.update-info ul {
  list-style: disc;
}

.update-info ul,
.update-info .heading-3,
.update-info .btn {
  margin-left: 3.125em;
}

.update-info .btn {
  margin-top: 1.25em;
}
/********** Offers **********/

.offers {
  background-color: var(--color-grey-light);
}

.offer-info ul {
  list-style: disc;
}

.offers .grid {
  grid-gap: 0;
}

.offers .img {
  height: 400px;
  background-image: url(../img/updates-img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.offer-img {
  border: 8px solid var(--color-secondary);
  transition: 0.5s ease-in-out;
}

.offer-img:hover {
  transform: scale(1.05);
}

.offer-info ul,
.offer-info .btn {
  margin-left: 3.125em;
}

.offer-info .heading-3,
.update-info .heading-3 {
  margin-left: 1.75em;
}

.offer-info .btn {
  margin-top: 1.25em;
}

.offers-link,
.events-link {
  color: var(--color-grey-darkest);
}

.offers-link:hover,
.events-link:hover {
  color: var(--color-primary);
}

/********** Footer **********/
.footer {
  background-color: var(--color-tertiary);
  padding: 1.25em 0;
  color: var(--color-grey-light);
}

.footer .flex {
  flex-direction: row;
  justify-content: space-between;
}

.footer .logo {
  width: 65%;
}

.footer .fab {
  color: var(--color-grey-light);
  font-size: 1.75em;
  margin: 0 0.625em;
}

.footer a,
.footer .fas {
  color: var(--color-grey-light);
}

.footer .fab:hover {
  color: orange;
}

/********** Testimonials **********/

.testimonial-top-text {
  background-color: var(--color-grey-light);
}

.testimonials .testimonial-top-text p {
  font-size: 1.25em;
}

.testimonials {
  background-color: #fff;
}

.testimonials .testimonial-location {
  font-weight: lighter;
}

.slide-content .heading-3 {
  font-weight: lighter;
}

.slide-content img {
  margin-top: 1.5em;
  text-align: center;
  width: 10%;
  border-radius: 50%;
  border: 5px solid var(--color-primary);
}

.controls .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.controls .arrow i {
  font-size: 1.5em;
  color: var(--color-grey-dark);
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.controls ul {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}

.controls ul li {
  width: 14px;
  height: 14px;
  border: 2px solid var(--color-grey);
  border-radius: 50px;
  margin: 10px;
  background-color: var(--color-grey-dark);
  cursor: pointer;
}

.controls ul li.selected {
  background-color: transparent;
}

/* Contact Page */
.contact-us {
  background-color: var(--color-grey-light);
  height: 100vh;
}

.social-media-list ul {
  display: flex;
}

.social-media-list ul li {
  margin-top: 20px;
  margin-right: 20px;
}

.social-media-list i {
  font-size: 1.25em;
  color: var(--color-primary);
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.contact-form input,
.contact-form textarea {
}

.contact-form label {
  margin-top: 0.5em;
  font-size: 0.75em;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-bottom: 2px solid var(--color-primary);
  outline: none;
}

.contact-form .btn-primary {
  margin-top: 1em;
  width: 40%;
}

/* Day Details Page */
.day-details-info .grid {
  grid-template-columns: 60% 20% 20%;
}

.day-details-info {
  background-color: var(--color-grey-light);
  height: auto;
}

.day-details-info .btn-primary {
  margin-top: 20px;
  width: 25%;
}

.day-details-info form input {
  width: 100%;
  padding: 1em 0;
  border: 1px solid var(--color-grey);
  border-radius: 5px;
}

.day-details-table .number-read-only {
  border: none;
  outline: none;
  background-color: transparent;
}

.dateFilter {
  /* background-color: transparent; */
}

::-webkit-datetime-edit {
  /* padding: 3em; */
}
::-webkit-datetime-edit-fields-wrapper {
  /* background: silver; */
}
::-webkit-datetime-edit-text {
  /* color: red; */
  padding: 0 0.3em;
}
::-webkit-datetime-edit-month-field {
  /* color: blue; */
  font-family: var(--body-font);
}
::-webkit-datetime-edit-day-field {
  /* color: green; */
}
::-webkit-datetime-edit-year-field {
  /* color: purple; */
}
::-webkit-inner-spin-button {
  /* display: none; */
}
::-webkit-calendar-picker-indicator {
  /* background: orange; */
}

.custom-select {
  position: relative;
  font-family: var(--body-font);
}

.custom-select select {
  padding: 15px 20px;
  width: 100%;
  border: 1px solid var(--color-grey);
  border-radius: 5px;
  /* border-bottom: 2px solid var(--color-primary); */
  background-color: transparent;
}

.custom-option {
  padding: 30px;
}
.custom-option:nth-child(even) {
  background-color: var(--color-grey-light);
}

.custom-option:nth-child(odd) {
  background-color: var(--color-grey);
}

.day-details-info form label {
  margin-bottom: 0.5em;
  font-size: 0.75em;
}

table {
  margin: 25px auto;
  border-collapse: collapse;
  border: 1px solid var(--color-grey-light);
}

table tr:hover {
  background: #f4f4f4;
  color: var(--color-grey-darkest);
}
table tr:hover td {
  color: var(--color-grey-darkest);
}

table th,
table td {
  border: 1px solid var(--color-grey);
  padding: 12px 35px;
  border-collapse: collapse;
}

table th {
  background: var(--color-primary);
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}

table th.last {
  border-right: none;
}

/* Table Buttons */
.btn-add,
.btn-del,
.btn-up {
  padding: 10px 20px;
  color: var(--color-grey);
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-add {
  background-color: var(--color-primary);
}

.btn-del {
  background-color: var(--color-secondary);
}

.btn-up {
  background-color: var(--color-tertiary);
}

/* Day Details Parent Page */
.day-details-info.parent .grid {
  grid-template-columns: 80% 20%;
}

/* Activities Page */
.activities-intro {
  background-color: var(--color-grey-light);
}

.activities-intro .grid {
}

.activities-intro .flex {
  justify-content: center;
  align-items: center;
}
.activities-intro .btn {
  margin-top: 20px;
}

.daily-activities:nth-child(odd) {
  background-color: var(--color-grey-light);
}

.activity-image {
  border: 8px solid var(--color-secondary);
  transition: 0.5s ease-in-out;
}

.activity-image:hover {
  transform: scale(1.05);
}

.service-image {
  width: 80%;
}

.data-table input[type="number"] {
  border: none;
  background-color: transparent;

  text-align: center;
  display: block;
  color: black;
}

/* Admin Styles */
.day-details-table-edit th,
.services-table-edit th,
.special-offers-table-edit th {
  background: var(--color-grey-dark);
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}

/* ------------ Alex ------------ */

#testimonials-wrapper{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 35rem;
  width: 100%;
  overflow: scroll;
}

#testimonials-wrapper > div{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8fr  2fr;
}

#testimonials-wrapper {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width:none;/* Hide scrollbar for Firefox */
}


#testimonials-wrapper::-webkit-scrollbar {
  display: none; /* Hide scrollbar for chrome, Opera Safary */

}



#contact-us-outer-container-id{
  display: flex;
  flex-direction: column;
  width: 50vw;
}

#contact-us-container-id{
  overflow: scroll;
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width:none;/* Hide scrollbar for Firefox */
  width: 100%;

}

#contact-us-container-id::-webkit-scrollbar {
  display: none; /* Hide scrollbar for chrome, Opera Safary */

}

#contact-us-search-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#search-form-contact-us-id{
  min-height: 3rem;
  border-radius: 10px;

}


#contact-us-table-id{
  table-layout: fixed;
  text-align: center;
  display: inline-block;
  width: 100%;
}


/* ------------ Alex ------------ */
