/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Nunito&display=swap");

:root {
  /* Colours */
  --color-primary: #ff8f87;
  --color-secondary: #cd85e4;
  --color-tertiary: #3d427d;
  --color-grey: #d8dee8;
  --color-grey-light: #f1f3f5;
  --color-grey-dark: #c2c8d1;
  --color-grey-darkest: #333;
  --heading-font: "Nunito", sans-serif;
  --body-font: "Lato", sans-serif;
}

/* Typography */

.heading-1,
.heading-2,
.heading-3 {
  font-family: var(--heading-font);
}
.heading-1 {
  font-size: 3.5em;
}

.heading-2 {
  font-size: 2em;
}

.heading-3 {
  font-size: 1.75rem;
}

.p-text {
  font-size: 1.2rem;
}

.center {
  text-align: center;
}

.italic {
  font-style: italic;
}

.red-text {
  font-size: 0.7em;
  color: red;
}

/* Padding Areas */
.p-top {
  padding: 3.5em 0;
}

/* Containers, Grids, Flexbox */

.container {
  max-width: 85%;
  margin: 0 auto;
  overflow: hideen;
  padding: 0 2.5em;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

/* Buttons */

.btn {
  outline: none;
  border: none;
  font-size: 1.1em;
  padding: 15px 20px;
  border-radius: 8px;
  cursor: pointer;
  color: var(--color-grey-light);
}

.btn-primary {
  background: rgb(255, 143, 135);
  background: linear-gradient(
    138deg,
    rgba(255, 143, 135, 1) 0%,
    rgba(205, 133, 228, 1) 100%
  );
}

.btn-secondary {
  background: rgb(205, 133, 228);
  background: linear-gradient(
    138deg,
    rgba(205, 133, 228, 1) 0%,
    rgba(61, 66, 125, 1) 100%
  );
}

.form-card {
}

.sign-up-form,
.log-in-form,
.add-details-form,
.del-details-form,
.update-details-form {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sign-up-form input,
.sign-up-form textarea,
.log-in-form input,
.add-details-form input,
.add-details-form textarea,
.del-details-form input,
.del-details-form textarea,
.update-details-form input,
.update-details-form textarea {
  padding: 1em 1.5em;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--color-primary);
}

.sign-up-form input:focus,
.sign-up-form textarea:focus,
.log-in-form input:focus,
.add-details-form input:focus,
.add-details-form textarea:focus,
.del-details-form input:focus,
.del-details-form textarea:focus,
.update-details-form input:focus,
.update-details-form textarea:focus {
  border-bottom: 2px solid var(--color-primary);
  outline: none;
}

.sign-up-form label,
.log-in-form label,
.add-details-form label,
.del-details-form label,
.update-details-form label {
  margin-top: 0.5em;
  font-size: 0.75em;
}

.sign-up-form .btn-primary,
.log-in-form .btn-primary,
.add-details-form .btn-primary,
.del-details-form .btn-primary,
.update-details-form .btn-primary {
  margin-top: 1em;
  width: 40%;
}

.hidden {
  display: none;
}

/* Carousel / Slider */

.carousel {
  background-color: #fff;
  height: 500px;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
}

.slider {
  height: 100%;
  display: flex;
  width: 400%;
  transition: all 0.4s ease-in-out;
  background-color: var(--color-grey-light);
}

.slider section {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-content {
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* New Header */
.menu-area a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: red;
  /* height: 100px;
  width: 100%; */
}

.menu-area .logo {
  width: 150%;
}

.menu-area a {
  padding: 0.625em;
  margin: 0 0.3125em;
  font-weight: 700;
  font-size: 1.1em;
  color: var(--color-secondary);
  text-align: center;
}

.menu-area a:hover {
  color: var(--color-tertiary);
  border-bottom: 2px solid red;
  text-align: center;
}

.menu-area ul {
  display: flex;
  justify-content: center;
  width: 100%;
}

.menu-area ul li {
  position: relative;
  left: 40%;
  width: 100%;
  text-align: center;
}

.menu-area li:hover .dropdown > li {
  top: 0;
  display: block;
  text-align: left;
}

.dropdown li {
  display: none;
  position: relative;
}

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu-area .nav-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-buttons .btn {
  margin: 0 20px;
}

/* Form Sign Up */

.left-content {
  /* position: relative; */
  height: 100%;
  width: 100%;
  background-color: var(--color-grey-light);
}

.sign-up {
  /* background-color: red; */
}

.sign-up .log-img,
.login .login-img {
  margin-top: 40px;
  width: 100%;
}

.sign-up .form,
.login .form {
  width: 100%;
}

.sign-up .grid,
.login .grid {
  grid-gap: 0;
  height: 100%;
  overflow: hidden;
}

.sign-up .sign-up-form-card,
.login .login-form-card {
  width: 100%;
  padding: 20px;
  /* background-color: var(--color-grey-light); */
}

.sign-up-form .flex,
.login .flex {
  flex-direction: row;
  justify-content: flex-end;
}
