# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Aleksandar Mladenov\OneDrive\Documents\Ireland College\Griffith College\Computing Science\PhpstormProjects\SWD_ChildcareCentre\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
